[Unit]
Description=Tentacles mjpg-streamer daemon with the user specified config
After=network.online.target
Wants=network.online.target

[Service]
User=octavia
EnvironmentFile=/etc/tentacles/%i_mjpg_stream.env
ExecStart=/opt/mjpg_streamer/mjpg_streamer -i "input_uvc.so -d ${DEVICE} -r ${RESOLUTION} -f ${FRAMERATE} -timeout 30" -o "output_http.so -p ${PORT}"

[Install]
WantedBy=multi-user.target
