[Unit]
Description=Tentacles ustreamer daemon with the user specified config
After=network.online.target
Wants=network.online.target

[Service]
User=octavia
EnvironmentFile=/etc/tentacles/%i.env
ExecStart=/bin/sh -c "${LIBCAMERAFY_BINARY_OR_EMPTY} /opt/ustreamer/ustreamer -d ${DEVICE} -s localhost -m MJPEG -r ${RESOLUTION} -f ${FRAMERATE} -p ${PORT} --device-timeout 8 --device-error-delay 8"

[Install]
WantedBy=multi-user.target
